// @import 'normalize';

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular-light.woff2') format('woff2'), url('../fonts/circular-light.woff') format('woff');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular-book.woff2') format('woff2'), url('../fonts/circular-book.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular-medium.woff2') format('woff2'), url('../fonts/circular-medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular-bold.woff2') format('woff2'), url('../fonts/circular-bold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Open+Sans:300,400');
@import './bootstrap/scss/bootstrap';
@import './overrides';
@import './variables';

html {
  background: $light-black;
}

body {
  font-family: 'Circular', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1em;
  margin-top: 0;
}

.content {
  background: $light-black;
  margin: 0 auto;
  max-width: 90%;
}

.active {
  color: $active-color;
}

a {
  margin: 20px;
  // margin-bottom: 20px;
  // font-weight: normal;
  color: $link-color;

  &:hover,
  &:active {
    color: $link-hover-color;
  }
}



.title {
  display: inline-block;
  color: $link-color;
  text-decoration: none;

  h1 {
    font-weight: 400;
    letter-spacing: 1.2px;
    font-size: 2.5em;
  }

  &:hover,
  &:active {
    color: $link-hover-color;
  }
}

.header {

  margin: 0 auto;
  height: 70px;

  border-bottom: 1px solid $green;
  margin-bottom: 0;
  background: $black;
  z-index: 1;
    a {
      text-decoration: none;
    }
}

.header-container {
  margin-bottom: 20px;
}

.loading-bar {
  margin-top: 0;
  background-color: $green;
  height: 2px;
  position: absolute;
}

.navigation {
  display: inline-block;
  vertical-align: baseline;
  float: right;
  font-size: 1.5em;
}

.playlists-table-container {
  background: $black;
}

.button {
  font-family: 'Circular', 'Helvetica Neue', 'Arial', sans-serif;
  margin: 20px auto;
  background-color: $green;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 16px;
  font-weight: 600;
  color: $white;
  padding: 0 40px;
  padding-top: 14px;
  padding-bottom: 12px;
  border: 1px solid $black;
  border-radius: 30px;

    &:hover {
      background: lighten($green, 5%);
      color: $white;
      transform: scale(1.1);

      &:active {
        background: darken($green, 5%);
        color: $white;
      }
    }

}


.not-found {
  width: 40%;
  height: 50px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: $error-msg-bg-color;
  color: $error-msg-text-color;
  text-align: center;
  filter: opacity(75%);
}

.content-box {
  height: auto;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;

  background: $content-bg-color;
}

a {
  &.btn-login, &.btn-logout {
    margin-top: 10px;
    margin-left: 20px;
  }

}

.user-profile-display {
  display: inline-block;
  margin-left: 20px;
  font-weight: lighter;
}

.header-content {
  margin: 0 60px;
}

.user-profile-id {
  display: inline-block;
  margin-right: 20px;
}

.button-group {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.note {
  color: $white;
  text-align: center;
}

.playlists-title {
  color: $white;
}

.clear-tracks-btn {
  background-color: #c0392b;

  &:hover {
    background-color: #e74c3c;
    &:active {
      background-color: darken(#c0392b, 5%);
    }
  }
}

.clear-tracks-btn {
  background-color: #c0392b;

  &:hover {
    background-color: #e74c3c;
    &:active {
      background-color: darken(#c0392b, 5%);
    }
  }
}

.add-tracks-btn,
.add-playlists-btn {
  background-color: #2980b9;

  &:hover {
    background-color: #3498db;
    &:active {
      background-color: darken(#2980b9, 5%);
    }
  }

  &:disabled {
    background-color: $light-grey;
    color: $white;
    transform: none;
    // display: none;
  }
}

.create-new-playlist-btn {
  background-color: #16a085;

  &:hover {
    background-color: #1abc9c;
    &:active {
      background-color: darken(#16a085, 5%);
    }
  }
}
