@import 'normalize';
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400|Open+Sans:300,400');
@import './bootstrap/scss/bootstrap';

@import './variables';


html {
  // background: $black;
}

body {
  font-family: 'Montserrat', 'Helvetica Neue';
  font-weight: 300;
  color: $white;
  margin-top: 0;
  margin: 0 auto;
}

.content {
  background: $black;
  margin: 0 auto;
  max-width: 90%;
}

.active {
  color: $active-color;
}

a {
  margin: 10px;
  // font-weight: normal;
  color: $link-color;

  &:hover {
    color: $link-hover-color;

    &:active {
      color: $link-active-click-color;
    }
  }
}

.title {
  display: inline-block;
  margin: 10px 0;
  color: $link-color;
  text-decoration: none;

  h1 {
    font-weight: normal;
    margin: 0 20px;
  }

  &:hover {
    color: $link-hover-color;

    &:active {
      color: $link-active-click-color;
    }
  }
}

.header {
  margin: 10px auto;
  height: 60px;
  font-family: 'Montserrat', 'Helvetica Neue';
  // border-bottom: 1px solid $green;
  // text-align: center;
  // background: $black;
  z-index: 1;
    a {
      text-decoration: none;
    }
}

.loading-bar {
  margin-top: 0;
  background-color: $green;
  height: 2px;
  position: absolute;
}

.navbar {
  display: inline-block;
  margin-top: 10px;
  margin-right: 0px;
  float: right;
  font-size: 1.5em;
}

.playlists-table-container {
  background: $black;
}

.create-new-playlist-btn {
  margin: 20px auto;
  background-color: $green;
  font-size: 20px;
  color: $white;
  padding: 6px 60px;
  border: 1px solid $black;
  border-radius: 30px;
    &:hover {
      background: $black;
      color: $green;
      border: 1px solid $green;
    }
}


.not-found {
  width: 40%;
  height: 50px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  background: $error-msg-bg-color;
  color: $error-msg-text-color;
  text-align: center;
  filter: opacity(75%);
}

.content-box {
  height: auto;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;

  background: $content-bg-color;
}

a {
  &.btn-login {
    font-size: 20px;
    background-color: $green;
    color: $white;
    padding: 6px 60px;
    border: 1px solid $black;
    border-radius: 30px;
    margin-top: 0;

    &:hover {
      background: $black;
      color: $green;
      border: 1px solid $green;
    }
  }
}

.user-profile-display {
  display: inline-block;
  margin-left: 20px;
  font-weight: lighter;
}
